<p-toast></p-toast>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <pre><i class="pi pi-inbox"></i> </pre>Primary
    </ng-template>
    <app-primary></app-primary>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <pre><i class="pi pi-tag"></i> </pre>Promotions
    </ng-template>
    <app-promotions></app-promotions>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <pre><i class="pi pi-users"></i> </pre>Social
    </ng-template>
    <app-social></app-social>
  </mat-tab>
</mat-tab-group>
